<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPY5q3BXYSiQTcfqw3hpTN93U_IN93P9g</string>
	<key>GCM_SENDER_ID</key>
	<string>538887897528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielappelcs4750.midwaymapper.flutterCs4750MidwayMapper</string>
	<key>PROJECT_ID</key>
	<string>midway-mapper</string>
	<key>STORAGE_BUCKET</key>
	<string>midway-mapper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538887897528:ios:9cd19db71d5d8cfc1ecf4d</string>
</dict>
</plist>